<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Crammer - Turn in 5 minutes before deadline!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&amp;subset=latin-ext" rel="stylesheet">
        <!--Semantic UI-->
        
        <!-- CSS -->
        <link href="css/main.css" rel="stylesheet">
        <!-- JS -->
        <script src="js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
    </head>
    <body>
        <div class="site" id="page">
            <a class="skip-link sr-only" href="#main">Skip to content</a>

            <!-- Options headline effects: .rotate | .slide | .zoom | .push | .clip -->
            <section class="hero-section hero-section--image clearfix clip">
                <div class="hero-section__wrap">
                    <div class="hero-section__option">
                        <img src="images/index.jpg" alt="Hero section image">
                    </div>
                    <!-- .hero-section__option -->

                    <div class="container">
                        <div class="row">
                            <div class="offset-lg-2 col-lg-8">
                                <div class="title-01 title-01--11 text-center">
                                    <h2 class="title__heading">
                                        <span>With Crammer, you can </span>
                                        <strong class="hero-section__words">
                                            <span class="title__effect is-visible">Procrastinate with Ease</span>
                                            <span class="title__effect">worry less at 11:55 pm</span>
                                            <span class="title__effect">become Teacher's Worst Nightmare</span>
                                        </strong>
                                    </h2>
                                    <div class="title__description">Delivering Tools for the Mega Procrastinator.</div>
                                    
                                    <!-- Options btn color: .btn-success | .btn-info | .btn-warning | .btn-danger | .btn-primary -->
                                    <div class="title__action"><a href="https://github.com/QasimWani/Crammer" class="btn btn-success">Check the Code on GitHub.</a></div>
                                </div> <!-- .title-01 -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="button-group">
        	<a href="index-color.html" class="btn btn-outline-success button-sm">Color</a>
            <a href="index-slider.html" class="btn btn-outline-success button-sm">Slider</a>
            <a href="index-video.html" class="btn btn-outline-success button-sm">Video Background</a>
        </div>
        <div class="title__action"><a href="https://github.com/QasimWani/Crammer" class="btn btn-success">Check the Code on GitHub.</a></div>

        <!-- JS -->
        <script src="js/plugins/animate-headline.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>